body{
    background-color: #f7f7f7;
}

a{
    text-decoration: none;
}

.nowrap{
    clear: left;
}

.contain {
    position: relative;
    width: 20%;
    float: left;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 2.5%;
    margin-top: 2.5%;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.contain:hover .image {
    opacity: 0.2;
}

.contain:hover .middle {
    opacity: 1;
    /*background-color: #f7f7f7;*/
}

.text {
    background-color: #EF6E73;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.middle p{
    color: black;
    font-weight: 500;
}
