@import url(https://fonts.googleapis.com/css?family=Roboto:100);
form.contact-form {
  width: 100%;
  background: #eeeeee;
  opacity: 0.8;
  max-width: 500px;
  margin: 10px auto;
  font-size: 15.5px;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 101;
  line-height: 25.079px;
  letter-spacing: -0.5px;
  -webkit-transition: box-shadow 0.4s ease;
  transition: box-shadow 0.4s ease;
  box-shadow: 0px 2px 10px #666666;
}


.contact-us{
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}


form.contact-form:hover {
  box-shadow: 0px 4px 16px #000000
}
form.contact-form span {
  text-align: center;
  display: block;
  color: #1a1a1a;
  padding: 19.375px 19.375px 7.75px;
  font: inherit;
  font-weight: 100;
  font-variant: small-caps;
  font-size: 35.079px;
}
form.contact-form ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
form.contact-form ul li {
  padding: 0;
  border-bottom: 1px solid #b3b3b3;
  margin: 0;
  text-align: center;
  width: 100%;
}
form.contact-form ul li i.form-icon {
  display: inline-block;
  vertical-align: middle;
  width: 2%;
  text-align: center;
  margin: 0 0.5% 0 1%;
  padding: 0;
  font-size: 16.275px;
  color: #aaa;
}
form.contact-form ul li input[type="text"] {
  width: 90%;
  background: none;
  margin: 0;
  padding: 10.33333385px 2%;
  border: 0;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  text-align: left;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  -webkit-transition: border-bottom 0.35s ease;
  transition: border-bottom 0.35s ease;
}
/*form.contact-form ul li input[type="text"]:hover {
  outline: none;
  box-shadow: 0px 2px 0px #999999, 0px 0px 0px #666666;
}*/
form.contact-form ul li input[type="text"]:focus {
  outline: none;
  border-bottom: 2px solid #26a69a;
}
form.contact-form ul li input[type="text"]::-webkit-input-placeholder {
  -webkit-transition: color 0.35s ease;
  transition: color 0.35s ease;
  color: #999999;
}
form.contact-form ul li input[type="text"]:-moz-placeholder {
  -webkit-transition: color 0.35s ease;
  transition: color 0.35s ease;
  color: #999999;
}
form.contact-form ul li input[type="text"]::-moz-placeholder {
  -webkit-transition: color 0.35s ease;
  transition: color 0.35s ease;
  color: #999999;
}
form.contact-form ul li input[type="text"]:-ms-input-placeholder {
  -webkit-transition: color 0.35s ease;
  transition: color 0.35s ease;
  color: #999999;
}
form.contact-form ul li input[type="text"]:focus::-webkit-input-placeholder {
  font-size: 12px;
}
form.contact-form ul li input[type="text"]:focus:-moz-placeholder {
  font-size: 12px;
}
form.contact-form ul li input[type="text"]:focus::-moz-placeholder {
  font-size: 12px;
}
form.contact-form ul li input[type="text"]:focus:-ms-input-placeholder {
  font-size: 12px;
}
form.contact-form ul li textarea {
  display: inline-block;
  vertical-align: top;
  width: 90%;
  background: none;
  padding: 10.33333385px 2%;
  resize: none;
  border: 0;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  text-align: left;
  height: auto;
  min-height: 170px;
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  -webkit-transition: border-bottom 0.35s ease;
  transition: border-bottom 0.35s ease;
}
/*form.contact-form ul li textarea:hover {
  outline: none;
  box-shadow: 0px 2px 0px #999999, 0px 0px 0px #ffffff;
}*/
form.contact-form ul li textarea:focus {
  outline: none;
  border-bottom: 3px solid #999999;
}
form.contact-form ul li textarea::-webkit-scrollbar {
  width: 4px;
}
form.contact-form ul li textarea::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 2px;
}
form.contact-form ul li textarea::-webkit-input-placeholder {
  -webkit-transition: color 0.35s ease;
  transition: color 0.35s ease;
  color: #999999;
}
form.contact-form ul li textarea:-moz-placeholder {
  -webkit-transition: color 0.35s ease;
  transition: color 0.35s ease;
  color: #999999;
}
form.contact-form ul li textarea::-moz-placeholder {
  -webkit-transition: color 0.35s ease;
  transition: color 0.35s ease;
  color: #999999;
}
form.contact-form ul li textarea:-ms-input-placeholder {
  -webkit-transition: color 0.35s ease;
  transition: color 0.35s ease;
  color: #999999;
}
form.contact-form ul li textarea:focus::-webkit-input-placeholder {
  font-size: 12px;
}
form.contact-form ul li textarea:focus:-moz-placeholder {
  font-size: 12px;
}
form.contact-form ul li textarea:focus::-moz-placeholder {
  font-size: 12px;
}
form.contact-form ul li textarea:focus:-ms-input-placeholder {
  font-size: 12px;
}
form.contact-form ul li input[type="submit"] {
  margin: 15px auto 15px;
  padding: 10.33333385px 19.375px;
  border: 1px solid #ef767a;
  display: inline-block;
  border-radius: 6px;
  background: #ea484e;
  font-weight: inherit;
  font-family: inherit;
  font-size: inherit;
  font-variant:small-caps;
  color: white;
  -webkit-transition: background border 0.35s ease;
  transition: background border 0.35s ease;
}
form.contact-form ul li input[type="submit"]:focus {
  outline: none;
  border: 1px solid #f7bbbd;
}
form.contact-form ul li input[type="submit"]:hover {
  background: #fce8e9;
  color: black;
  border: 1px solid #f7bbbd;
}
form.contact-form ul li input[type="submit"]:active {
  background: #d0d0d0;
}
