#about, #event, #team, #contact {
	padding-top: 50px;
}

.container2 {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}
@media only screen and (min-width : 601px) {
  .container2 {
    width: 85%; } }

@media only screen and (min-width : 993px) {
  .container2 {
    width: 85%; } }

.photo img{
	width: 100%;
	height: auto;
	max-height: 650px;
}
.horizontal {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.horizontal img {
    height: 200px;
    width: 250px;
    float: left;
    justify-content: center;
    flex: 1;
}
.text {
  float: right;
  text-align: left;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 1.0rem;
  line-height: 1.2rem;
  flex: 1;
  flex-basis: 50%;
}
.text p {
  font-family: Comic Sans MS;
  font-size: 1.0rem;
  margin-top: 2px;
  margin-left: 10px;
  flex: 1;
}
.team-des {
	text-align: center;
	margin: 10px 0px;
}
.team-des img{
	width: 200px;
	height: 200px;
	border-radius: 100px;
}
footer {
	padding: 20px 0px;
}

#heading h4{
  text-align: right;
}