#about, #event, #team, #contact {
	padding-top: 30px;
}

.container2 {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}
@media only screen and (min-width : 601px) {
  .container2 {
    width: 85%; } }

@media only screen and (min-width : 993px) {
  .container2 {
    width: 85%; } }

.photo img{
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  width: 100%;
	max-height: 650px;
}
.horizontal {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.horizontal img {
    height: 200px;
    width: 250px;
    float: left;
    justify-content: center;
    flex: 1;
}
.text {
  text-align: left;
  margin-top: 10px;
  line-height: 1.2rem;
  flex: 1;
  flex-basis: 50%;
}
.text p {
  font-family: Arial;
  font-size: 18px;
  margin-top: 2px;
  flex: 1;
  line-height: 32px;
}

.team-top {
  text-align: center;
  /*margin: 100px 0px;*/
}
.team-top img{
  width: 250px;
  height: 250px;
  border-radius: 40px;
  -webkit-transition: border-radius 300ms;
  -moz-transition: border-radius 300ms;
  -ms-transition: border-radius 300ms;
  -o-transition: border-radius 300ms;
  transition: border-radius 300ms;
}
.team-top img:hover {
  width: 250px;
  height: 250px;
  border-radius: 150px;
  transition-duration: 300ms;
  animation: roll 500ms;
  animation-delay: 300ms;
}

.team-index {
  text-align: center;
  margin: 10px 0px;
}
.team-index img{
  width: 200px;
  height: 200px;
  border-radius: 40px;
  -webkit-transition: border-radius 300ms;
  -moz-transition: border-radius 300ms;
  -ms-transition: border-radius 300ms;
  -o-transition: border-radius 300ms;
  transition: border-radius 300ms;
}
.team-index img:hover {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  transition-duration: 300ms;
  animation: roll 1000ms;
  animation-delay: 300ms;
}

/*
.team-index i{
  color: #fff;
}*/
.team-index a{
  padding: 0.5rem;
}
.team-des {
	text-align: center;
	margin: 10px 0px;
}
.team-des img{
	width: 160px;
	height: 160px;
	border-radius: 35px;
  -webkit-transition: border-radius 300ms;
  -moz-transition: border-radius 300ms;
  -ms-transition: border-radius 300ms;
  -o-transition: border-radius 300ms;
  transition: border-radius 300ms;
}
.team-des img:hover {
  width: 160px;
  height: 160px;
  border-radius: 80px;
  transition-duration: 300ms;
  animation: roll 1000ms;
  animation-delay: 300ms;
}
.team-des a{
  padding: 0 0.25rem;
}
.team-s {
  text-align: center;
}
.team-s img {
  width: 110px;
  height: 110px;
  border-radius: 25px;
  -webkit-transition: border-radius 200ms;
  -moz-transition: border-radius 200ms;
  -ms-transition: border-radius 200ms;
  -o-transition: border-radius 200ms;
  transition: border-radius 200ms;
  transform: rotate(-20deg);
}
.team-s img:hover {
  width: 110px;
  height: 110px;
  border-radius: 55px;
  transition-duration: 200ms;
  animation: roll 800ms;
  animation-delay: 150ms;
}
@keyframes roll {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.button {
  margin: 15px auto 15px;
  padding: 10.33333385px 19.375px;
  border: 1px solid #ef767a;
  display: inline-block;
  border-radius: 6px;
  background-color: #ea484e;
  color: white;
  font-weight: inherit;
  font-family: inherit;
  font-size: inherit;
  font-variant:small-caps;
  -webkit-transition: background border 0.35s ease;
  transition: background border 0.35s ease;
}/*
a:link{
  color: white;
}*/
.button:focus {
  outline: none;
  border: 1px solid #f7bbbd;
}
.button:hover {
  background: #fce8e9;
  color: black;
  border: 1px solid #f7bbbd;
}
a:hover{
  color: black;
}
.button:active {
  background: #d0d0d0;
}

.spns {
  text-align: center;
}

footer {
	padding: 20px 0px;
}

#heading h4{
  text-align: right;
}